.bgYellow{
    background-color: #F7F8C0;
    font-size: 12px;
    font-weight: 400;
    font-family: sans-serif;
}

.bgGreen{
    background-color: #C0F8D0;
}

.bgPurple{
    background-color: #F4C0F8;
}

